<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BITXCHANGE</title>
    @Styles.Render("~/Content/global.css")
    @Styles.Render("~/Content/styles.css")
</head>
<body>
    @RenderBody()
    <div class="page-header">
        <div class="logo-container">
            <img src="~/Content/Assets/Images/logo.svg" alt="logo-bitxchange">
        </div>
        <div class="header-content">
            <p><strong>@ViewBag.HeaderText</strong></p>
        </div>
    </div>

    <div class="login-content">
        <div class="login-text">
            <strong>
                <p>@ViewBag.LoginText</p>
            </strong>
            <p>Não possui uma conta? <strong />Cadastre-se</p>
        </div>

        <form>
            <div class="input-block">
                <fieldset>
                    <label for="email"></label>
                    <input type="text" name="email" class="input-text" id="email" placeholder="E-mail">
                </fieldset>
            </div>
            <div class="input-block">
                <fieldset>
                    <label for="senha"></label>
                    <input type="password" name="senha" class="input-text" id="senha" placeholder="Senha">
                </fieldset>
            </div>
            <div class="bottom-content">
                <p>@ViewBag.PasswordMsg</p>

                <button type="submit"><strong />Acessar</button>
            </div>
        </form>
    </div>
</body>
</html>