@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    BIT_MODEL.UsuarioModel home = ViewBag.Home;
    List<BLL.TransacaoBLL> transacao = ViewBag.Transacoes;
}




<p class="welcome-text">Seja bem vindo, <strong>@home.Nome</strong>!</p>
<div class="cards">
    <div class="card">
        <div class="name-coin">
            Bitcoin
        </div>

        <div class="icon-coin">
            <img src="~/Content/Assets/Images/bitcoin.svg" alt="">
        </div>

        <div class="balance-coin">
            0.0016
        </div>


    </div>

    <div class="card">
        <div class="name-coin">
            Real
        </div>

        <div class="icon-coin">
            <img src="~/Content/Assets/Images/real.svg" alt="">
        </div>

        <div class="balance-coin">
            650.00
        </div>
    </div>

    <div class="card">
        <div class="name-coin">
            Ethereum
        </div>

        <div class="icon-coin">
            <img src="~/Content/Assets/Images/ethereum.svg" alt="">
        </div>

        <div class="balance-coin">
            3.007
        </div>


    </div>

    <div class="card">
        <div class="name-coin">
            Dólar
        </div>

        <div class="icon-coin">
            <img src="~/Content/Assets/Images/dolar.svg" alt="">
        </div>

        <div class="balance-coin">
            467.97
        </div>


    </div>
</div>
<div class="last-transactions">
    <div class="header-transactions">

        <div>
            <table class="table">
                <tr>
                    <td>Data</td>
                    <td>Protocolo</td>
                    <td>Tipo</td>
                    <td>Valor</td>
                    <td>Moeda</td>
                    <td></td>
                </tr>
                @foreach (var t in transacao)
                {
                    <tr>
                        <td>@t.DataTransacao</td>
                        <td>@t.Protocolo</td>
                        <td>@t.Tipo</td>
                        <td>@t.Valor</td>
                        <td>@t.Moeda</td>
                        @*Exibe dentro da tabela o conteudo formatado*@
                        @*<td>@Html.Raw(p.Conteudo)</td>*@
                        <td>
                        
                    </tr>
                }
            </table>
        </div>


        <p>Últimas Transações</p>
        <a href="#welcome-text"><span class="fas fa-plus"></span></a>
    </div>
    <div class="info-transaction">
        <div class="date-transaction">
            <p>31/05/2020</p>
        </div>

        <div class="type-transaction">
            <p>Transferência</p>
        </div>

        <div class="value-transaction payment">
            <p>50,00</p>
        </div>

        <div class="coin-transaction">
            <p>USD</p>
        </div>
    </div>

    <div class="info-transaction">
        <div class="date-transaction">
            <p>20/05/2020</p>
        </div>

        <div class="type-transaction">
            <p>Depósito</p>
        </div>

        <div class="value-transaction receivement">
            <p>650,00</p>
        </div>

        <div class="coin-transaction">
            <p>R$</p>
        </div>
    </div>

    <div class="info-transaction">
        <div class="date-transaction">
            <p>10/05/2020</p>
        </div>

        <div class="type-transaction">
            <p>Conversão</p>
        </div>

        <div class="value-transaction payment">
            <p>1,00</p>
        </div>

        <div class="coin-transaction">
            <p>ETH</p>
        </div>
    </div>


</div>

<div class="last-quotes">
    <div class="header-quotes">
        <p>Últimas Cotações</p>
        <p>Atualizado em: 02/06/20 | 19:08</p>
    </div>
    <div class="input-quote">
        <div class="real-quote">
            <legend>Real</legend>
            <input type="number" name="real" id="real" placeholder="Insira um valor"><br />
            <button type="submit">Atualizar</button>
        </div>

        <div class="coin-quote">
            <legend>Dólar</legend>
            <p>0.19</p>
        </div>

        <div class="coin-quote">
            <legend>Bitcoin</legend>
            <p>0.000025</p>
        </div>

        <div class="coin-quote">
            <legend>Ethereum</legend>
            <p>0.00081</p>
        </div>
    </div>
</div>