
@{

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    BIT_MODEL.UsuarioModel UsuarioDados = ViewBag.Home;
    BIT_MODEL.UsuarioModel perfilDados = ViewBag.Perfil;

}
@Styles.Render("~/Content/profile.css")

<script>

    const masculino = 'Masculino'
    const feminino = 'Feminino'
    const outros = 'Outros'

    window.onload = function sexo() {
        if (@perfilDados.Sexo == '1') {
            document.querySelector("[name='gender']").value = masculino;
        }
        else
        if (@perfilDados.Sexo == '2') {
            document.querySelector("[name='gender']").value = feminino;
        }
        else {
            document.querySelector("[name='gender']").value = outros;
        }
    }

</script>


@if (TempData["erroPerfil"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-danger">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p size="3" align="center"><b>@TempData["erroPerfil"]</b></p>
    </div>
}

@if (TempData["SucessoPerfil_"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-warning">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p size="3" align="center"><b>@TempData["SucessoPerfil_"]</b></p>
    </div>
}

<form action="@UsuarioDados.Id" method="post" id="att-form">
    <br />
    <section class="current-profile">
        <legend>Seus dados atuais</legend>
        <div class="first-row">
            <div class="input-block">
                <h3>Nome</h3>
                <input type="text" name="name" id="name" value="@perfilDados.Nome" disabled />
            </div>

            <div class="input-block">
                <h3>CPF</h3>
                <input type="text" name="cpf" id="cpf" value="@perfilDados.Cpf" disabled />
            </div>

            <div class="input-block">
                <h3>E-mail</h3>
                <input type="text" name="email" id="email" value="@perfilDados.Email" disabled />
            </div>
        </div>

        <div class="second-row">

            <div class="input-block">
                <h3>Data de Nascimento</h3>
                <input type="text" name="birth" id="birth" value="@perfilDados.DataNascimento" disabled />
            </div>

            <div class="input-block">
                <h3>Gênero</h3>
                <input type="text" name="gender" id="gender" value="@perfilDados.Sexo" disabled />
            </div>

            <div class="input-block">
                <h3>Senha</h3>
                <input type="password" name="password" id="password" value="@perfilDados.Senha" disabled />
            </div>
        </div>
    </section>

    <hr>

    <section class="new-profile">
        <legend>Atualize seu perfil</legend>
        <div class="first-row">
            <div class="input-block">
                <h3>Novo nome</h3>
                <input pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" type="text" name="new-name" id="new-name" placeholder="Nome completo" />
            </div>

            <div class="input-block">
                <h3>Novo e-mail</h3>
                <input type="email" name="new-email" id="new-email" placeholder="exemplo@exemplo.com" />
            </div>

        </div>
        <div class="second-row">
            <div class="input-block">
                <h3>Novo gênero</h3>
                <select name="new-gender" id="new-gender">
                    <option value="i" selected="true" disabled="disabled">Selecione o novo gênero...</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                    <option value="o">Outros</option>
                </select>
            </div>
            <div class="input-block">
                <h3>Nova Senha</h3>
                <input type="password" name="new-pass" id="new-pass" placeholder="Nova senha" />
            </div>

            <div class="input-block">
                <h3>Confirme sua nova senha</h3>
                <input type="password" name="vf-pass" id="vf-pass" placeholder="Confirme a sua nova senha" />
            </div>
        </div>

        <div class="alter">
            <button type="submit">Alterar Campos</button>
        </div>
    </section>
</form>