@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    List<BLL.TransacaoBLL> transacao = ViewBag.Transacoes;
    BIT_MODEL.UsuarioModel UsuarioDados = ViewBag.home;
}
@Styles.Render("~/Content/transaction.css")

<div class="header-transactions">
    <p>Últimas Transações</p>
</div>
    <div class="last-transactions">

        <div class="legend-transaction">
            <div class="date-transaction">
                <p>data</p>
            </div>

            <div class="hour-transaction">
                <p>HORA</p>
            </div>

            <div class="protocol-transaction">
                <p>PROTOCO</p>
            </div>

            <div class="type-transaction">
                <p>TRANSAÇÃO</p>
            </div>

            <div class="value-transaction payment">
                <p>valor</p>
            </div>

            <div class="coin-transaction">
                <p>MOEDA</p>
            </div>

            <div class="observation">
                <p>Observação</p>
            </div>
        </div>



        @foreach (var t in transacao)
        {
            <div class="info-transaction">
                <div class="date-transaction">
                    <p>@t.DataTransacao.ToString("dd/MM/yyyy")</p>
                </div>

                <div class="hour-transaction">
                    <p>@t.DataTransacao.ToString("HH:mm:ss")</p>
                </div>

                <div class="protocol-transaction">
                    <p>@t.Protocolo</p>
                </div>

                <div class="type-transaction">
                    <p>@t.Tipo</p>
                </div>

                <div class="value-transaction payment">
                    <p>@t.Valor</p>
                </div>

                <div class="coin-transaction">
                    <p>@t.Moeda</p>
                </div>

                <div class="observation">
                    <p>@t.Obs</p>
                </div>
            </div>
        }
    </div>
