@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    List<BLL.TransacaoBLL> transacao = ViewBag.Transacoes;
}
@Styles.Render("~/Content/transaction.css")

<link rel="stylesheet" href="~/Content/home.css" />
<div class="last-transactions">
    <div class="last-transactions">
        <div class="header-transactions">
            <p>Últimas Transações</p>
        </div>

        <div class="legend-transaction">
            <div class="date-transaction">
                <p>data</p>
            </div>

            <div class="hour-transaction">
                <p>HORA</p>
            </div>

            <div class="protocol-transaction">
                <p>PROTOCO</p>
            </div>

            <div class="type-transaction">
                <p>TRANSAÇÃO</p>
            </div>

            <div class="value-transaction payment">
                <p>valor</p>
            </div>

            <div class="coin-transaction">
                <p>MOEDA</p>
            </div>

            <div class="receiver-transaction">
                <p>DESTINATÁRIO</p>
            </div>

            <div class="observation">
                <p>forma de pagamento</p>
            </div>
        </div>



        @foreach (var t in transacao)
        {
            <div class="info-transaction">
                <div class="date-transaction">
                    <p>@t.DataTransacao.ToString("dd/MM/yyyy")</p>
                </div>

                <div class="hour-transaction">
                    <p>@t.DataTransacao.ToString("HH:mm:ss")</p>
                </div>

                <div class="protocol-transaction">
                    <p>@t.Protocolo</p>
                </div>

                <div class="type-transaction">
                    <p>@t.Tipo</p>
                </div>

                <div class="value-transaction payment">
                    <p>@t.Valor</p>
                </div>

                <div class="coin-transaction">
                    <p>@t.Moeda</p>
                </div>

                <div class="receiver-transaction">
                    <p>@t.Nome</p>
                </div>

                <div class="observation">
                    <p>@t.Obs</p>
                </div>
            </div>
        }

        @*<div class="info-transaction">
                <div class="date-transaction">
                    <p>31/05/2020</p>
                </div>

                <div class="protocol-transaction">
                    <p>000000123456789</p>
                </div>

                <div class="type-transaction">
                    <p>Transferência</p>
                </div>

                <div class="value-transaction payment">
                    <p>50,00</p>
                </div>

                <div class="coin-transaction">
                    <p>USD</p>
                </div>
            </div>*@

        @*<div class="info-transaction">
                <div class="date-transaction">
                    <p>20/05/2020</p>
                </div>

                <div class="type-transaction">
                    <p>Depósito</p>
                </div>

                <div class="value-transaction receivement">
                    <p>650,00</p>
                </div>

                <div class="coin-transaction">
                    <p>R$</p>
                </div>
            </div>

            <div class="info-transaction">
                <div class="date-transaction">
                    <p>10/05/2020</p>
                </div>

                <div class="type-transaction">
                    <p>Conversão</p>
                </div>

                <div class="value-transaction payment">
                    <p>1,00</p>
                </div>

                <div class="coin-transaction">
                    <p>ETH</p>
                </div>
            </div>*@


    </div>
