
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    BIT_MODEL.CarteiraModel BitSaldo = ViewBag.SaldoBit;
    BIT_MODEL.CarteiraModel RealSaldo = ViewBag.SaldoReal;
    BIT_MODEL.CarteiraModel EthSaldo = ViewBag.SaldoEth;
    BIT_MODEL.CarteiraModel DolarSaldo = ViewBag.SaldoDolar;
    BIT_MODEL.UsuarioModel UsuarioDados = ViewBag.Home;
}

<link rel="stylesheet" href="~/Content/transference.css" />

<header>
    <div class="balance-summary">
        <div class="coin" id="bitcoin">
            <img src="~/Content/assets/images/bitcoin.svg" alt="bitcoin">
            <p>@BitSaldo.SaldoCart</p>
        </div>

        <div class="coin" id="real">
            <img src="~/Content/assets/images/real.svg" alt="real">
            <p>@RealSaldo.SaldoCart</p>
        </div>

        <div class="coin" id="ether">
            <img src="~/Content/assets/images/ethereum.svg" alt="ether">
            <p>@EthSaldo.SaldoCart</p>
        </div>

        <div class="coin" id="dolar">
            <img src="~/Content/assets/images/dolar.svg" alt="dolar">
            <p>@DolarSaldo.SaldoCart</p>
        </div>
    </div>
</header>

@if (TempData["Sucesso_"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-warning">
        <p size="3" align="center"><b>Transferência realizada com sucesso!</b></p>
        <br />
        <p size="3" align="center"><b>@TempData["Sucesso_"]</b></p>
    </div>
}
@if (TempData["erro_"] != null)
{
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-danger">
        <p size="3" align="center"><b>@TempData["erro"]</b></p>
    </div>
}

<legend>Insira os dados corretamente</legend>
<form id="form" action="@UsuarioDados.Id/Transferir" method="post" onsubmit="ValidaTransferencia(event)">

    <div class="first-row">
        <span>
            <p>Nome do Destinatário</p>
            <input type="text" name="name-receiver" id="name-receiver" required onfocus="ValorFInTransferencia()">
        </span>

        <span>
            <p>CPF do Destinatáiro</p>
            <input name="document-receiver" id="document-receiver" required onfocus="ValorFInTransferencia()">
        </span>
    </div>

    <div class="second-row">
        <p>Valor e moeda</p>
        <input type="number" name="value-transfer" id="value" required onfocus="ValorFInTransferencia()">
        <select name="type-coin" id="type-coin" required>
            <option value="3">Ethereum</option>
            <option value="4">Dóla</option>
            <option value="2">Real</option>
            <option value="1">Bitcoin</option>
        </select>
        <p>Descrição</p>
        <textarea name="description" id="description" cols="30" rows="10" required onfocus="ValorFInTransferencia()"></textarea>
    </div>

    <div class="third-row">
        <p>Valor final</p>
        @*<div class="final-value">
            <!-- valor final -->
            @*<input  name="Value-end" id="Value-end" required>*@
        @*</div>*@
        <input name="Value-end" id="Value-end" class="final-value" required onfocus="ValorFInTransferencia()">
        <p>*O custo de cada transação é equivalente a 1,5% do valor total</p>
    </div>

    <button type="submit" id="save">Enviar</button>
</form>
<script src="~/Scripts/menu-navbar.js"></script>
<script src="~/Scripts/Confirmar-transferencia.js"></script>
<script src="~/Scripts/simular-taxa-transferencia.js"></script>


