@{
                /**/

                /**/

                /**/

                Layout = "~/Views/Shared/_LayoutMain.cshtml";
                BIT_MODEL.MoedaModel Dolar = ViewBag.CotDolar;
                BIT_MODEL.MoedaModel Ethe = ViewBag.CotETH;
                BIT_MODEL.MoedaModel Bit = ViewBag.CotBit;
                BIT_MODEL.UsuarioModel UsuarioDados = ViewBag.Home;
}


@if (TempData["Sucesss"] != null)
{
    <br />
    <br />
    <br />
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-warning">
        <p size="3" align="center"><b>Transferência realizada com sucesso!</b></p>
        <br />
        <p size="3" align="center"><b>@TempData["Sucesss"]</b></p>
    </div>
}
@if (TempData["err"] != null)
{
    <br />
    <br />
    <link href="~/Scripts/bulma/css/bulma.css" rel="stylesheet" />
    <div class="notification is-danger">
        <p size="3" align="center"><b>Erro ao fazer conversão!</b></p>
        <br />
        <p size="3" align="center"><b>@TempData["err"]</b></p>
    </div>
}

<div id="cotacao" class="quote-bitcoin disable">
    <h6 id="BitCot" >@Bit.Valor</h6>
    <h6 id="EthCot" >@Ethe.Valor</h6>
    <h6 id="DolarCot" >@Dolar.Valor</h6>
</div>

<form action="@UsuarioDados.Id/Cambio" method="post" onsubmit="ValidaTransferencia(event)" class="register-content">


    <br />
    <link rel="stylesheet" href="~/Content/quotes.css">
    <span class="span-coin">
        <div class="coin-select">
            <legend>Moeda Inicial</legend>
            <select name="type-coin" id="type-coin">
                <option value="ethereum">ethereum</option>
                <option value="dolar">dolar</option>
                <option value="real">real</option>
                <option value="bitcoin">bitcoin</option>
            </select>
        </div>

        <div class="coin-value">
            <legend>Valor Inicial</legend>
            <input type="number" name="value" id="value" />
        </div>
        <div class="coin-select">
            <legend>Moeda Final</legend>
            <select name="type-fcoin" id="type-fcoin">
                <option value="ethereum">ethereum</option>
                <option value="dolar">dolar</option>
                <option value="real">real</option>
                <option value="bitcoin">bitcoin</option>
            </select>
        </div>

        <input class="simulation" type="button" onclick="simular2()" value="Simular" />
        <div class="coin-fvalue">
            <legend>Valor Final</legend>
            <input type="number" name="fvalue" id="fvalue" required disabled />
        </div>
        <button type="submit" id="converter">Converter</button>


    </span>

</form>

<script src="~/Scripts/Confirmar-transferencia.js"></script>
<script src="~/Scripts/Conversao.js"></script>